.text{
    font-family: 'Montserrat', sans-serif;
    color: #393646;
}
header{
    height: 654px;
    background-image: url('../images/leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-position: top;
    background-size: cover; 
    background-attachment: fixed;
}
#header_container{
    background-color: rgba(248, 249, 250, 0.6);
    width: 100%;
    height: 100%;
}
#profile_image{
    width: 260px;
    border-width: 20px;
    border-style: solid;
    border-top-left-radius: 80px;
    border-color: #393646;
    box-shadow: -5px 5px 10px #c3ccd5;
}
.timeline{
    height: 450px;
}
.timeline_left_border_info{
    border-top-style: solid;
    border-top-color: #393646;
    border-top-width: 5px;
    border-right-style: solid;
    border-right-color: #393646;
    border-right-width: 10px;
}
.timeline_right_border_noInfo{
    border-left-style: solid;
    border-left-color: #393646;
    border-left-width: 10px;
}
.timeline_left_border_noInfo{
    border-right-style: solid;
    border-right-color: #393646;
    border-right-width: 10px;
}
.timeline_right_border_info{
    border-left-style: solid;
    border-left-color: #393646;
    border-left-width: 10px;
    border-top-style: solid;
    border-top-color: #393646;
    border-top-width: 5px;
}
#skills{
    background-color: #bab6c8;
}
.skills_item{
    box-shadow: -5px 5px 10px #79848f;
}
.skills_image{
    height: 200px;
}
#certificates{
    background-color: #393646;
}
/* .certificate_img{
    height: 500px;
} */
.certificate_label{
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); */
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    right: 0;
}
#portfolio{
    /* height: 500px; */
    background-color: #f4f4f4;
}
#contact{
    background-color: #c1b6c8;
}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links > li{
    margin: 10px 0;
}
#footer{
    background-color: #393646;
    height: 50px;
}